html {
  scroll-behavior: smooth;
}

/* Contianing Blocks */

.container {
  max-width: 80%;
  margin: auto;
}

.row {
  display: flex;
}

.col-half {
  flex-basis: 50%;
}

.col-full {
  flex-basis: 100%;
}

.col-one-third {
  flex-basis: calc(100%/3);
}

.col-two-third {
  flex-basis: calc(200%/3);
}

.col-one-fourth {
  flex-basis: 25%;
}

.logo-wrapper {
  text-align: left;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
}

#navigation-menu {
  border-bottom: 2px solid rgb(248 248 249);
}

.landing-banner {
  background:
    linear-gradient(
      to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 50%)
    ),
    url("./images/hero.jpg");

  /* background-image: url("./images/hero.jpg"); */

  /* background-color: rgb(70 130 180 / 80%); */
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 3em;
  padding-bottom: 4em;
  min-height: 80%;
  min-width: auto;
}

.overlay {
  background: linear-gradient(transparent, rgb(0 0 0 / 75%));
  width: 80%;
  height: 65%;
  position: absolute;
}

.landing-banner img {
  size: 20%;
}

#hero-header {
  width: 80%;
  padding-top: 1em;
  padding-left: 1.5em;
  font-size: 2.5vw;
}

#hero-text {
  width: 80%;
  padding-top: 0.5em;
  padding-left: 2.6em;
  font-size: 1.4vw;
  line-height: 1.5em;
  margin-bottom: 2.5em;
}

.clinician-section {
  background-color: rgb(250 250 250);
  width: 100%;
  padding-top: 1.5em;
  margin-top: 3em;
  padding-bottom: 1em;
}

.clin-half {
  width: 85%;
  margin-top: 3em;
  margin-bottom: 3em;
}

#clinician-header {
  width: 100%;
  font-size: 2.3vw;
  margin-bottom: 0.4em;
}

#clinician-summary {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.1vw;
  line-height: 2em;
}

.practice-list {
  font-size: 1.4vw;
}

.learn-more-section {
  margin-top: 1em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.company-section {
  background-color: rgb(82 83 81);
  margin-top: 1em;
  padding-bottom: 4em;
}

#canvas-btm {
  font-size: 3vw;
}

.address-block {
  padding-left: 4em;
  padding-top: 0.5em;
  margin-top: 0;
}

.company-block {
  line-height: 2em;
}

.product-section {
  padding-top: 4em;
}

.product-list {
  line-height: 2em;
}

.contact-us-wrapper {
  /* display: inline; */
}

.hero-button-wrapper {
  padding-left: 2em;
}

.bottom-section {
  padding-top: 2em;
  padding-bottom: 2.2em;
  background-color: rgb(250 250 250);
}

.bottom-block {
  padding-left: 3em;
}

.bottom-block a {
  font-size: 1.3vw;
}

.pad-bottom-links {
  padding-left: 2em;
}

.center {
  align-items: center;
  justify-content: center;
}

.right {
  align-items: right;
}

.align-right {
  text-align: right;
}

.pad-small-left {
  padding-left: 4em;
}

.pad-small-right {
  padding-right: 4em;
}

.navigation-list {
  list-style-type: none;
  margin-right: 0;
  padding-right: 0;
}

.nav-menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.nav-menu ul {
  display: inline-block;
  margin-left: 1em;
  margin-right: 0;
  padding-right: 0;
}

.navigation-list li {
  display: inline;
  padding-right: 2em;
}

.navigation-list a {
  text-decoration: none;
  box-shadow: none;
  font-size: 14px;
}

.navigation-list a:visited a:hover a:active {
  color: inherit;
}

.logo-wrapper > img {
  width: 80px;
  height: 65px;
}

.contact-us-button {
  padding: 0.5em 1em;
  border: solid grey;
  text-decoration: none;
  font-size: 14px;
  margin-left: 0;
  margin-bottom: 0.3em;
}

.get-started-wrapper {
  padding-bottom: 1em;
  padding-left: 2.5em;
}

.get-started-button {
  padding: 0.6em 2em;
  text-decoration: none;
  font-size: 14px;
}

/* Text Formatters */

.text-white {
  color: whitesmoke;
}

.text-grey {
  color: rgb(160 160 160);
}

.text-dark-grey {
  color: rgb(110 110 110);
}

.stylize-button {
  color: white;
  background-color: rgb(41 67 99);
  border-style: solid;
  box-shadow: none;
}

.text-center {
  text-align: center;
}

.remove-decoration {
  text-decoration: none;
}

.address-text {
  font-size: 1.2vw;
  line-height: 0.5;
  margin-top: 2.5em;
}

.company-link {
  display: block;
  font-size: 1.3vw;
}

#learn-more-header {
  font-size: 2vw;
  margin-bottom: 0.5em;
}

#learn-more-paragraph {
  font-size: 1.2vw;
  margin-top: 0.1em;
}

/* Font Formatters */
.avenir-font {
  font-family: Avenir, sans-serif;
}

.tiempos-font {
  font-family: "Tiempos Headline", serif;
}

.tiempos-font-light {
  font-family: "Tiempos Headline", serif;

  /* font-style: italic; */
  font-weight: lighter;
}
